@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
}

body {
    padding: 0 1rem;
}

main {
    margin: 0 auto;
    width: 400px;
}
header h1{
    background: #00c37d;
    padding: 16px
}
main p {
    font-weight: 300;
}
main img {
    display: block;
    width: 100%;
    animation: fade 15s;
}

footer {
    text-align: center;
}

@keyframes fade{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}