@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #5da78e;
    --secondary: #6fb09a;
    --thrid: #9cc2b5;
    --fourty: #d9e2e1;
    --light-gren: #bfdc80;
    --white: #f2f2f2;
    --black: #000000d9;
}

* {
  font-family: "Libre Franklin", sans-serif;
}


.btn-primary {
    width: 100px;
    height: 38px;
    background-color: var(--white);
    color: var(--black);
    border: none;
}
.btn-primary:hover {
    background-color: var(--thrid);
    font-weight: 600;
    transition: .4s;
}
.btn-secondary {
    min-width: 80px;
    height: 38px;
    background-color: var(--white);
    color: var(--black);
    border: none;
}
.btn-secondary:hover {
    background-color: var(--thrid);
    font-weight: 600;
    transition: .4s;
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*  HEADER */

header {
    display: grid;
    grid-template-rows: 50px 1fr;
}
header #nav-contact {
    padding: 0px 40px;
}
header #nav-contact nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;
}

header #menu {
    display: grid;
    grid-template-columns: auto 1fr 100px;
    padding: 10px;
    border-top: 1px solid;
    align-items: center;

    row-gap: 8px;
}
header #menu img {
    width: 70px;
}
header #menu a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
}
#menu nav {
    grid-row: 2;
    grid-column: 1 / 4;
}
header #menu nav ul{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 8px;
}
#menu nav ul li{
    display: none;
    padding: 10px 20px;
    background: #fff;
}
#menu nav ul li a {
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
}
#menu button{
    grid-column: 4;
}
#btn-menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    width: 100%;
    justify-content: right;
    grid-row: 2;
}
#btn-menu::before {
	content: "☰";
}

#btn-menu.open::before {
	content: "❎";
}

/* NAV */

/* when the button is clicked - the open class is toggled (added/removed) */
.open li {
	display: block !important;
}


/* MAIN */

main {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 150px auto auto auto ;
    row-gap: 20px;
}
main #hero {
    grid-column: 1 / 4;
}

main #hero .content {
    height: 300px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
}
main #actions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background: var(--white);
    grid-column: 2 / 3;

    height: 370px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
}
main #actions h1{
    color: var(--primary);
}
main #actions p {
    font-size: 1.1rem;
}
main #actions .actions {
    display: flex;
    align-items: center;
    gap: 20px;
}
main #actions .actions button{
    padding: 20px;
    min-width: 120px;
    min-height: 120px;
    max-width: 200px;
    max-height: 200px;
    background-color: var(--thrid);
    color: var(--black);
    border: none;
    box-shadow: 41px 32px 26px -13px rgba(0,0,0,0.1);
    border-radius: 16px;
    font-size: 1.4em;
    cursor: pointer;
}
main #actions .actions button:hover{
    background-color: var(--black);
    color: var(--thrid);
}

/* Events */
main #events {
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: auto;
    padding: 0 10%;
    margin-top: 20px;
}
main #events .title {
    grid-column: 1/3;
}
main .events-title{
    grid-column: 1/4;
}
main #events .events-content {
    padding: 20px;
    grid-column: 1/4;
}
main #events .card {
    display: grid;
    grid-template-columns: 70px 1fr;
    column-gap: 20px;
}
main #events .card img {
    width: 70px;
}
main #events .card h1 {
    margin: 0;
    font-size: 1.2rem;
}
main #ads {
    display: grid;
    grid-column: 1/4;
    grid-template-rows: auto auto 50px;
    padding: 0 10%;
    gap: 20px;
}
main #ads h1 {
    grid-column: 1/4;
}
main #ads .spotlights {
    display: flex;
    justify-content: space-around;
    grid-column: 1/4;
    align-items: center;
    flex-direction: column;
}
main #ads .spotlights .card {
    text-align: center;
}
main #ads .actions {
    display: grid;
    justify-content: center;
    grid-column: 1/4;
}
main #ads .actions button {
    width: 300px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer {
    margin-top: 40px;
    background-color: var(--fourty);
    text-align: center;
}

/* Discover */

main#discover{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
}

main#discover .title{
    grid-column: 1/3;
}

main#discover .left-side {
    display: grid;
    row-gap: 10px;
}
main#discover .left-side .card {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid var(--fourty);
}
main#discover .left-side .card h1 {
    font-size: 1.2rem;
}
main#discover .left-side .card p {
    font-size: 14px;
}

/* Right side */
main#discover .right-side img, main#discover .left-side picture img {
    width: 100%;
    height: auto;
}


/* JOIN */

#join{
    display: grid;
    margin: 0 auto;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

#join section.title{
    grid-column: 1/3;
}

.form fieldset{
    padding: 1rem .75rem;
    border: solid 1px #b7b7b7;
    margin-bottom: 1rem;
}

.form fieldset legend{
    color: #08620e;
    padding: 2%;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form select,
.form textarea{
    display: flex;
    width: inherit;
    margin-bottom: .75rem;
    padding: .75rem 10px;
    border: solid 1px #9d9d9d ;
    border-radius: 6px;
    font-size: 1rem;
    color: #666;
    appearance: none;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea {
    padding: .75rem 5px;
    width: 98%;
}

.form input:required {
    border-left: solid 2px rgb(248, 93, 93);
}
.form input:required:valid {
    border-left: solid 2px rgb(36, 162, 65);
}

.form label {
    width: 100%;
}

.form input[type="submit"] {
    border: none;
    padding: 1rem .75rem;
    width: 100%;
    font-size: 1.1rem;
    background-color: var(--primary);
    color: #000;
    border-radius: 6px;
}
.form input[type="submit"]:hover{
    background-color: var(--secondary);
    transition: .3s;
}
#join .card {
    display: none;
}

#join .card img{
    width: 200px;
    height: 200px;
    background-size: contain;
}

/* THANK YOU PAGE */

#thankyou{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    height: 70vh;
}

#thankyou section {
    width: 80%;
    margin: 5% auto;
}
#thankyou section p {
    width: 100%;
    font-size: 1.1rem;
}


#thankyou section a{
    font-size: 1.1rem;
    text-decoration: none;
}


main {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 390px;
    padding: 0 .5rem;
    gap: 0;
}

main#directory h1 {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
}
main#directory p {
    margin-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 16px;
}
.grid .card {
    padding: 1rem;
    border: solid #eee 1px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px 50px 40px 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.grid .card picture img {
    width: 100%;
    max-width: 230px;
}
.grid .card .title {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
}
.grid .card .title img {
    width: 28px;
}
.grid .card .description {
    color: #666;
    font-size: .9rem;
}

/*  LIST */

.list {
    display: block;
    min-height: 500px;
}

.list .card {
    padding: 1rem 0px;
    border: solid #eee 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.list .card picture img {
    display: none;
}
.list .card .title {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
}
.list .card a {
    padding: 0 40px;
}

.list .card .title img {
    width: 18px;
    padding: 0 10px;
}
.list .card .description {
    display: none;
    color: #666;
    font-size: .9rem;
}


section.btn-group {
    margin-bottom: 1rem;
    display: flex;
    gap: 8px;
}
section.btn-group button{
    border: none;
    padding: .75rem 1rem;
    width: 120px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 500;
}
section.btn-group button.actived {
    background-color: var(--thrid);
}
section.btn-group button.actived::before {
    content: "📍";
}
