  /* large view navigation ************************************/
  :root {
    --primary: #5da78e;
    --secondary: #6fb09a;
    --thrid: #9cc2b5;
    --fourty: #d9e2e1;
    --light-gren: #bfdc80;
    --white: #f2f2f2;
    --black: #000000d9;
}

  @media (min-width: 37.5em) {

	/* Main */
	main #actions {
		display: grid;
		grid-template-columns: 30% 1fr;
		justify-items: center;
		background: var(--white);
		grid-column: 2 / 3;
	
		height: 270px;
		padding: 20px;
		border-radius: 8px;
	}
	
	main #ads .spotlights {
		flex-direction: row;
	}
	main #events .events-content {
		padding: 20px;
		grid-column: 2/4;
	}
	main #events {
		grid-template-columns: 500px 1fr 300px;
	}

	#btn-menu {
		display: none; /* hide hamburger button */
	}
	#menu {
		margin: 0px 40px;
		gap: 8px;

	}
	#menu nav {
		grid-row: 1;
		grid-column: 2 / 4;
	}
	header #menu nav ul{
		display: flex;
		margin: 0;
		height: 100%;
		justify-content: space-around;
		list-style-type: none;
		flex-direction: row;
	}

	.navigation {
		flex-direction: row;
	}
    
	.navigation li  {
		display: block !important;
		flex: 1 1 100%;
	}
	.header #menu{
		align-items: center;
	}

	/* Discover */
	main#discover{
		padding: 0 10%;
		grid-template-columns: 1fr 1fr;
	}
	
	.card.visitor{
		max-height: 120px;
	}
	main#discover .right-side img {
		min-height: 120px;
		max-height: 206px;
		object-fit: cover;
	}
	main#discover .right-side img:hover {
		box-shadow: 29px 36px 36px -3px rgba(0,0,0,0.1);
	}

	/* JOIN */

	#join{
		width: 80%;
		grid-template-columns: 1fr 1fr;
	}

	#join .card {
		display: grid;
		grid-template-columns: auto auto;
	}

	/* Directory */

	#directory {
		grid-template-rows: auto auto 1fr;
		grid-template-columns: auto;
		padding: 0 4rem;
		gap: 0;
	}
	
	#directory .list .card .description {
		display: block;}

}