  /* large view navigation ************************************/
 

  @media (min-width: 37.5em) {

  	/* Main */
  	main #actions {
		display: grid;
        grid-template-columns: 40% 1fr;
        justify-items: center;
        background: var(--white);
        grid-column: 2 / 3;
        height: auto;
        padding: 40px;
        border-radius: 8px;
		max-width: 100%;
        max-width: 70%;
        margin: 0 auto;
  	}
	  main #actions .actions{
		gap: 20px;
	  }
	main #actions .actions button{
		padding: 20px;
		min-width: 150px;
		min-height: 120px;
		max-width: 200px;
		max-height: 200px;
		background-color: var(--thrid);
		color: var(--black);
		border: none;
		box-shadow: 41px 32px 26px -13px rgba(0, 0, 0, 0.1);
		border-radius: 16px;
		font-size: 1.4em;
		cursor: pointer;
	}

  	main #ads .spotlights {
  		flex-direction: row;
  	}

	

  	main #events .events-content {
  		padding: 20px;
  		grid-column: 2/4;
  	}

	main .weather {
		grid-column: 3 / 4;	
	}

  	main #events {
  		grid-template-columns: auto 1fr 400px;
  	}
	main #events .title {
		display: flex;
		align-items: flex-end;
	}

  	#btn-menu {
  		display: none;
  		/* hide hamburger button */
  	}

  	#menu {
  		margin: 0px 40px;
  		gap: 8px;

  	}

  	#menu nav {
  		grid-row: 1;
  		grid-column: 2 / 4;
  	}

  	header #menu nav ul {
  		display: flex;
  		margin: 0;
  		height: 100%;
  		justify-content: space-around;
  		list-style-type: none;
  		flex-direction: row;
  	}

  	.navigation {
  		flex-direction: row;
  	}

  	.navigation li {
  		display: block !important;
  		flex: 1 1 100%;
  	}

  	.header #menu {
  		align-items: center;
  	}

  	/* Discover */
  	main#discover {
  		padding: 0 10%;
  		grid-template-columns: 1fr 1fr;
  	}

  	.card.visitor {
  		max-height: 120px;
  	}

  	main#discover .right-side img {
  		min-height: 120px;
  		max-height: 250px;
  		object-fit: cover;
  	}

  	main#discover .right-side img:hover {
  		box-shadow: 29px 36px 36px -3px rgba(0, 0, 0, 0.1);
  	}

  	/* JOIN */

  	#join {
  		width: 80%;
  		grid-template-columns: 1fr 1fr;
  	}

  	#join .card {
  		display: grid;
  		grid-template-columns: auto auto;
  	}

  	/* Directory */

  	main#directory {
  		grid-template-rows: auto auto 1fr;
  		grid-template-columns: auto;
  		padding: 0 4rem;
  		gap: 0;
  	}


  	#directory .list .card .description {
  		display: block;
  	}

	/* Banner */
	.banner-content {
		width: 700px;
	}

  }