@media screen and (max-width: 480px) {
    
    header {
        flex-wrap: wrap;
    }
    main {
        row-gap: 10px;
    }
    nav {
        padding: 20px;
    }
    nav ul{
        flex-wrap: wrap;
        gap: 4px
    }

    .card {
        grid-column: 1 / 3 !important;
        grid-row: auto !important;
    }
  }

  /* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}